.cards {
  padding: 0 0 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  padding: 0;
}

@media screen and (max-width: 892px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 413px);
  }
}

@media screen and (max-width: 583px) {
  .cards {
    padding: 0 0 20px;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
