.card {
  height: 445px;
}

.card__image {
  display: block;
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 0 12px;
}

.card__caption {
  display: flex;
  justify-content: space-between;
}

.card__description {
  max-width: 360px;
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.card__like-button {
  height: 20px;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 583px) {
  .card {
    height: 318px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    max-width: 251px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
