.card {
  position: relative;
  list-style: none;
}

.card__button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.card__button_type_delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-image: url("../images/delete.svg");
  background-repeat: no-repeat;
}

.card__button_type_delete:hover {
  background-image: url("../images/delete-red.svg");
}

.card__image {
  display: block;
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 0 12px;
}

.card__caption {
  display: flex;
  justify-content: space-between;
}

.card__description {
  max-width: 360px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.card__button_type_like {
  width: 23px;
  height: 20px;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.card__button_type_like:hover {
  opacity: 1;
}

.card__button_liked {
  background-image: url("../images/like-red.svg");
  opacity: 1;
}

.card__button_liked:hover {
  opacity: 0.5;
}

@media screen and (max-width: 583px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    max-width: 251px;
    font-size: 16px;
    line-height: 1;
  }

  .card__button_type_like {
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
  }
}
