.header {
  background-color: #ffffffcc;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 34px;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 892px) {
  .header {
    margin: 0 0 20px;
  }
}
