.profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21212166;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.profile__user-info {
  position: relative;
  display: flex;
  gap: 20px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__container {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 0 12px;
}

.profile__description {
  color: #212121b2;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}

.profile__button {
  display: flex;
  gap: 8px;
  font-weight: 500;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.profile__button_type_large {
  align-items: flex-start;
  align-self: flex-end;
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 32px;
  border-radius: 8px;
}

.profile__button_type_large:hover {
  opacity: 0.8;
}

@media screen and (max-width: 892px) {
  .profile {
    flex-direction: column;
  }

  .profile__user-info {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .profile__container {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__title {
    text-align: center;
    margin: 0 0 6px;
  }

  .profile__description {
    text-align: center;
    margin: 0 0 32px;
  }

  .profile__button_type_large {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 583px) {
  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__title {
    font-size: 20px;
  }
}
